permissions:
  pull-requests: write
  contents: write
  id-token: write

on:
  workflow_call:
    inputs:
      branch_name:
        required: true
        type: string

jobs:
  Checks:
    runs-on: ubuntu-latest
    steps:
      - name: Check Branch Name
        run: |
          echo "Branch Name: ${{ inputs.branch_name }}"

  release:
    runs-on: ubuntu-latest
    if: |
      (
        inputs.branch_name == 'main' ||
        inputs.branch_name == 'alpha' ||
        inputs.branch_name == 'beta' ||
        inputs.branch_name == 'canary' ||
        inputs.branch_name == 'pre/rc'
      )
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Install
        uses: kurocado-studio/dev-ops/.github/actions/install@main

      - name: Build
        run: pnpm run build

      - name: Release
        id: semantic_release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
